#Modules are needed
CONFIG_MODULES=y
#We also need SCSI disk support
CONFIG_BLK_DEV_SD=y
CONFIG_HID_APPLE=m
CONFIG_VIRTIO=m
CONFIG_ITCO_WDT=m
CONFIG_SND_HDA_GENERIC=m
CONFIG_DRM=m
CONFIG_SATA_AHCI=m
CONFIG_SATA_ACARD_AHCI=m
CONFIG_SATA_AHCI_SEATTLE=m
CONFIG_SATA_AHCI_PLATFORM=m
CONFIG_SATA_HIGHBANK=m
CONFIG_AHCI_BRCM=m
CONFIG_AHCI_CEVA=m
CONFIG_AHCI_DA850=m
CONFIG_AHCI_DM816=m
CONFIG_AHCI_IMX=m
CONFIG_AHCI_MTK=m
CONFIG_AHCI_MVEBU=m
CONFIG_AHCI_SUNXI=m
CONFIG_AHCI_ST=m
CONFIG_AHCI_TEGRA=m
CONFIG_AHCI_XGENE=m
CONFIG_AHCI_QORIQ=m
CONFIG_FB_SYS_FILLRECT=m
CONFIG_SND_HWDEP=m
CONFIG_XOR_BLOCKS=m
CONFIG_CRYPTO_WP512=m
CONFIG_DM_CRYPT=m
CONFIG_NLS_ISO8859_1=m
CONFIG_CRYPTO_SERPENT=m
CONFIG_USB_STORAGE=m
CONFIG_LIBCRC32C=m
CONFIG_MXM_WMI=m
CONFIG_MOUSE_PS2=m
CONFIG_SENSORS_CORETEMP=m
CONFIG_SOUND=m
CONFIG_HID_GENERIC=m
CONFIG_LEDS_TRIGGER_AUDIO=m
CONFIG_VIRTIO_BLK=m
CONFIG_SERIO_RAW=m
CONFIG_HW_RANDOM_VIRTIO=m
CONFIG_CRYPTO_XTS=m
CONFIG_SND_HDA=m
CONFIG_ITCO_WDT=m
CONFIG_USB_UAS=m
CONFIG_DRM_NOUVEAU=m
CONFIG_PARPORT=m
CONFIG_RAID6_PQ=m
CONFIG_VIRTIO=m
CONFIG_SCSI_ISCI=m
CONFIG_ZSTD_COMPRESS=m
CONFIG_USB_MOUSE=m
CONFIG_USB_KBD=m
CONFIG_VIRTIO_CONSOLE=m
CONFIG_FB_SYS_COPYAREA=m
CONFIG_PATA_ATIIXP=m
CONFIG_SND_PCM=m
CONFIG_I2C_ALGOBIT=m
CONFIG_LPC_ICH=m
CONFIG_PARPORT_PC=m
CONFIG_SCSI_SAS_ATTRS=m
CONFIG_DRM_KMS_HELPER=m
CONFIG_ZSTD_DECOMPRESS=m
CONFIG_R8169=m
CONFIG_FB_SYS_FOPS=m
CONFIG_SND_TIMER=m
CONFIG_INPUT_JOYDEV=m
CONFIG_VIRTIO_NET=m
CONFIG_VIRTIO_PCI=m
CONFIG_USB_HID=m
CONFIG_PATA_ACPI=m
CONFIG_SCSI_SAS_LIBSAS=m
CONFIG_ACPI_WMI=m
CONFIG_VIRTIO_BALLOON=m
CONFIG_PPDEV=m
CONFIG_INPUT_LEDS=m
CONFIG_GPIO_ICH=m
CONFIG_DRM_TTM=m
CONFIG_BTRFS_FS=m
CONFIG_ACPI_VIDEO=m
CONFIG_SATA_AHCI=m
CONFIG_SND_HDA_INTEL=m
CONFIG_FB_SYS_IMAGEBLIT=m
CONFIG_MAC_EMUMOUSEBTN=m
CONFIG_HID=m
CONFIG_SND_HDA_CODEC_REALTEK=m
CONFIG_I2C_I801=m
CONFIG_SND_HDA_CORE=m
CONFIG_NET_DSA_REALTEK_SMI=m
CONFIG_REALTEK_PHY=m
CONFIG_INPUT_PCSPKR=m
CONFIG_FUSE_FS=m
CONFIG_SND=m
CONFIG_EXT4_FS=m
